@CHARSET "ISO-8859-1";

BODY {  
	margin: 0;
	padding: 0;
}
	
TABLE.list {
	width: 100%;
	border: 1px solid #aaa;
}

TABLE.list thead {
	background-color: #333;
	color: #fff;
}

TABLE.list thead tr th, TABLE.list tbody tr td {
	padding: 5px;
	text-align: left;
}

TABLE.list tbody tr.row0 {
	background-color: #ccc;
}

TABLE.list tbody tr.row1 {
	background-color: #fff;
}

TABLE.list tbody .bt-excluir {
	cursor: pointer;
}

.form-opcoes {
	margin-top: 20px;
}

#ajaxLoading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .9 ) 
                url('../images/v3/loading.gif') 
                50% 50% 
                no-repeat;
}