@CHARSET "ISO-8859-1";

BODY {  
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: Tahoma, Verdana;
	font-size: 10pt;
}

.container {
	width: 900px;
	margin: 0 auto;
}

#header {
	margin-bottom: 20px;
}

#header, #footer {
	background-color: #adcf0f;
	box-shadow: rgb(0, 0, 125) 0px 0px 5px 0px;
}

#header-container {
	height: 80px;
	padding-top: 20px;
}

ul#menu-superior {
	float: right;
	text-align: right;
	color: #fff;
	list-style: none;
	margin-top: 20px;
}

ul#menu-superior li {
	display: inline-table;
	cursor: pointer;
	margin: 0 10px;
	font-family: Genova, Tahoma, sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

ul#menu-superior li:HOVER {
	color: #3250b3;
}

#inner-content {
	
}

.left-content {
	float: left;
	width: 595px;
}

.right-content {
	float: right;
	width: 300px;
}

.left-content, .right-content { height: 370px; }

.main-content {
	clear: both;
}

.content-block {
	width: 280px;
	border-top: #404144 3px solid;
	float: left;
	margin-bottom: 10px;
}

.content-block-center {
	margin: 0 15px;
}

.content-section-title {
	font-size: 16pt;
	color: #404144;
	font-family: Signika, sans-serif;
}

#footer {
	clear: both;
	font-size: 10pt;
	margin-top: 10px;
	padding: 25px 0;
	color: #fff;
}