{% extends '::base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h1>Alterações de dados do usuário
        <small>As informações abaixo referem-se ao usuário cadastrado no sistema.</small></h1>
    </div>

    <div class="well">

        <form action="{{ path('cacic_usuario_editar') }}" method="post" {{ form_enctype(form) }}>
            <fieldset>

                {{ form_widget(form) }}




            </fieldset>
            <br>
            <div >
                <a class="bt-adicionar" href="{{ path('cacic_usuario_editar') }}">Gravar Alterações</a></div>
    </div>

    </form>
    </div>
{% endblock %}