# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/fonts/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar

# Ignore SVN
*.svn
.*.swp
.*.swo
.*.save
*~

# Ignora toda a pasta Web
web/assets/
web/css/
web/downloads/
web/images/
web/js/
web/assetic/
web/app.php

# Ignora htaccess
.htaccess
.idea

# Ignora arquivo do importador
src/Cacic/CommonBundle/Resources/data/importacao.zip

# Ignore IDE Files
.idea
cacic.iml
