<div class="row-fluid">
    <div class="span12">
        <div class="box grad_colour_black">
            <h2 class="box_head round_top"><i class="icon-list"></i> {{'Resultado da pesquisa' |trans }}</h2>
            <div class="block box_content round_bottom padding_10">

                <iframe src="{{ path('cacic_common_homepage') }}elfinder/form" height="300px" width="100%"></iframe>


            </div> <!-- /block -->
        </div> <!-- /box -->
    </div> <!-- /span -->
</div> <!-- /row -->