<div id="System_Excluir" title="Excluir">
	<p>
		<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 50px 0;"></span>
		O <span id="excluir_item_desc">item</span> será removido permanentemente e não poderá ser recuperado. Tem certeza que deseja continuar?
	</p>
</div>