Cacic\CommonBundle\Entity\UnidOrganizacionalNivel1a:
    type: entity
    table: unid_organizacional_nivel1a
    fields:
        idUnidOrganizacionalNivel1a:
            id: true
            type: integer
            unsigned: false
            nullable: false
            column: id_unid_organizacional_nivel1a
            generator:
                strategy: IDENTITY
        nmUnidOrganizacionalNivel1a:
            type: text
            fixed: false
            nullable: true
            column: nm_unid_organizacional_nivel1a
    manyToOne:
        idUnidOrganizacionalNivel1:
            targetEntity: UnidOrganizacionalNivel1
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                id_unid_organizacional_nivel1:
                    referencedColumnName: id_unid_organizacional_nivel1
            orphanRemoval: false
    lifecycleCallbacks: {  }
