header{
	width: 100%;
 	height: 60px;
	background: #032A65;
	color: #eeeeee;
}

header div#logo{
	float: left;
	height: 100%;
}

header div#logoff{
	float: right;
	height: 100%;
}
header div#pesquisa{
	float: right; 
	margin: 20px;
}

header div#usuario{
	float: right; 
	margin: 15px;
}

#menu-lateral{
	float: left;
	width: 25%;
}

menu-lateral div#menu-principal{
	clear: both;
	width: 100%;
}

menu-lateral div#menu-favoritos{
	clear: both;
	width: 100%;
}

menu-favoritos div#favoriteItems{
	width: 100%;
	height: 100%;
}

.fav{
	float: left;
	margin: 7px;
	text-align: center;
  	width: 65px;
}

#lista-links{
	width: 100%;
	padding: 10px;
 	text-align: right;
}

#conteudo{
	width: 75%;
	float: left;
}

conteudo div#widgets{
	clear: both;
	margin: 0px auto 15px auto;
}

footer {
	height:100px; 
	background:#2F2D2E ;
	clear:both;

}

footer div#links-footer{
	padding: 10px;
	color: #ffffff;
	float: left;
}

#links-footer a{
	color: #ffffff;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration:underline;	
}
