Package:pyCACIC
Priority: optional
Version:2.6.0.2
Architecture:all
Maintainer: DATAPREV
Section: misc
Installed-Size: 1434
Depends: python(>=2.3), dialog
Description: Configurador Automatico e Coletor de Informacoes Computacionais
