@CHARSET "UTF-8";

body {
	background: url('../TwitterBootstrapTheme_AdminIntenso_1.0/images/bg/always_grey.png') center top repeat;
}

.logo {
	background: url('../images/cacic_logo.png') center no-repeat ;
	/*width: 204px;*/
}

.logo-small {
	background: url('../images/cacic_logo.png') center no-repeat ;
}

.box_head i { margin-right: 5px; } /* Espaçamento entre o ícone e o título dos boxes (widgets) */

.table td.td-actions {
	text-align: center;
}

.navbar .nav > li > a, .navbar .brand {
	text-shadow: none;
}

#ajaxLoading {
	display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 0.8 ) 
                url('../images/v3/loading.gif')
                50% 50% 
                no-repeat;
}

/*.alert { display: none; }*/

.table thead th { background-color: #333; color: #fff }

input[type="checkbox"], input[type="radio"] {
	float: left;
	margin-right: 5px;
}

input[required="required"], select[required="required"] {
    background-color: #F2E1E8;
}

label.required {
    font-weight: bold;
    color: #c00;
}

dl dd { margin-bottom: 10px; }

/*------------------------------------------------------------------
[ Shortcuts / .shortcuts]
*/

.shortcuts {
	text-align: center;	
}

.shortcuts .shortcut { 
	width: 22.50%;
	display: inline-block;
	padding: 12px 0;
	margin: 0 .9% 1em;
	vertical-align: top;	
	
	text-decoration: none;
	
	background: #F3F3F3;
	
	border-radius: 5px;
}

.shortcuts .shortcut .shortcut-icon {
	margin-top: .25em;
	margin-bottom: .25em;
	
	font-size: 32px;
	color: #888;
}

.shortcuts .shortcut:hover {
	background: #E8E8E8;
}

.shortcuts .shortcut:hover .shortcut-icon {
	color: #666;
}

.shortcuts .shortcut-label {
	display: block;
	
	font-weight: 400;
	color: #666;
}


#patrimonio1 {
    width: 125%  !important;
}
#patrimonio2 {
    width: 125%  !important;
}
#patrimonio3 {
    width: 125%  !important;
}
#patrimonio4 {
    width: 125%  !important;
}
.side_nav ul a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

/* Corrige mudança do box-sizing (Bootstrap v3)
 * Fonte: http://stackoverflow.com/questions/19109470/twitter-bootstrap-box-sizing-ruined-my-layout
 */

.box-sizing-fix *,
.box-sizing-fix *:before,
.box-sizing-fix *:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	white-space: normal;
}

/* Corrige para o bootstrap transfer */
/*
.bootstrap-transfer-container *,
.bootstrap-transfer-container *:before,
.bootstrap-transfer-container *:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	white-space: normal;
}
*/
.bootstrap-transfer-container .selector-filter.right {
    min-height: 28px;
}

/* Firefox fieldset fix */
@-moz-document url-prefix() {
	fieldset { display: table-cell; }
}

/* Fix input height */
.input-prepend .add-on, .input-append .add-on {
    min-height: 28px;
}

input[type="text"],
input[type="password"],
textarea,
select,
.uneditable-input {
    min-height: 28px;
}

.progress {
    min-height: 18px;
    margin-bottom: 18px;
}

.progress .bar {
    min-height: 18px;
}


/* Remove annoying overlay from jquery modal */
.overlay-hidden {
	display: none;
}

/* Solicitações MPOG: 2015-08-13 */
.dropdown-menu {
	font-size: 13px;
}