<cacicInstall:comment>
/**
 * @version $Id: index.php 2007-02-08 22:20 harpiain $
 * @package Cacic-Installer
 * @subpackage Instalador
 * @author Adriano dos Santos Vieira <harpiain at gmail.com>
 * @copyright Copyright (C) 2007 Adriano dos Santos Vieira. All rights reserved.
 * @license GNU/GPL, see LICENSE.php
 * CACIC-Install is free software and parts of it may contain or be derived from the
 * GNU General Public License or other free or open source software licenses.
 * See COPYRIGHT.php for copyright notices and details.
 * @description Templates para para o Instalador do CACIC
 */
</cacicInstall:comment>

<cacicInstall:tmpl name="tmplNavBarPreInstall">
     <form method="post" name="installForm">
		<table width="100%">
		  <tr class="navbar">
		     <td colspan=2>
				<div class="navbar-btn">
						<div class="navbar-btn-left"><div class="proximo"><a onclick="submitForm( installForm, 'licenca' );" alt="Próximo">Próximo</a></div></div>
				</div>
		     </td>
		  </tr>
		</table>
		<cacicInstall:tmpl src="install_introducao.tmpl" parser="on" />
        <input type="hidden" name="step" value="" />
	 </form>
</cacicInstall:tmpl>

<cacicInstall:tmpl name="tmplNavBarLicenca">
     <form method="post" name="installForm">
		<table width="100%">
		  <tr class="navbar">
		     <td colspan=2>
				<div class="navbar-btn">
						<div class="navbar-btn-right"><div class="anterior"><a onclick="submitForm( installForm, 'preinstall' );" alt="Previous">Anterior</a></div></div>
						<div class="navbar-btn-left"><div class="proximo"><a onclick="submitForm( installForm, 'checkinstall' );" title="Aceito a licença">Aceitar</a></div></div>
				</div>
		     </td>
		  </tr>
		</table>
		<div class="license">
		<table>
		  <tr>
		     <td>Por favor, leia os termos da licença a seguir. Você deve aceitar os termos desta para continuar a instalação! 
		     </td>
		  </tr>
		  <tr id="gpl-pt" >
		     <td>
				<fieldset>
				    <legend>Licença (<span class="togleLang" onclick="toggleDetails('gpl-pt');toggleDetails('gpl-en');">read it in English</span>)</legend>
					<pre><cacicInstall:tmpl src="../../licenca.txt" parser="on" /></pre>
				</fieldset>
		     </td>
		  </tr>
		  <tr id="gpl-en" style="display: none;">
		     <td>
				<fieldset>
				    <legend>License (<span class="togleLang" onclick="toggleDetails('gpl-pt');toggleDetails('gpl-en');">leia em português</span>)</legend>
					<pre><cacicInstall:tmpl src="../../license.txt" parser="on" /></pre>
				</fieldset>
		     </td>
		  </tr>
		</table>
		</div>
        <input type="hidden" name="step" value="" />
	 </form>
</cacicInstall:tmpl>

<cacicInstall:tmpl name="tmplNavBarCheckInstall">
     <form method="post" name="installForm">
		<table width="100%">
		  <tr class="navbar">
		     <td colspan=2>
				<div class="navbar-btn">
					<div class="navbar-btn-left"><div class="verificar"><a onclick="submitForm( installForm, 'checkinstall' );" alt="Verificar">Verificar</a></div></div>
					<div class="navbar-btn-right"><div class="anterior"><a onclick="submitForm( installForm, 'licenca' );" alt="Previous">Anterior</a></div></div>
					<cacicInstall:tmpl name="tmplNavBarCheckInstallContinue" type="condition" conditionvar="continuar">
					<cacicInstall:sub condition="sim">
					   <div class="navbar-btn-left"><div class="proximo"><a onclick="submitForm( installForm, 'configuration' );" alt="Próximo">Próximo</a></div></div>
					</cacicInstall:sub>
					</cacicInstall:tmpl>
				</div>
		     </td>
		  </tr>
		</table>

		<fieldset>
		    <legend>Pré-requisitos</legend>
			<table class="checkinstall">
			  <tr>
			    <td class="item" valign="top">
			         Versão do PHP >= {CACIC_PHPVERSION}
				</td>
				<td align="left" valign="top">
										<span class="{PHPVERSION_CLASS}">
										{PHPVERSION_STATUS}
										</span>
										<span class="small">
										{PHPVERSION_HELP}
										</span>
				</td>
			  </tr>
			  <tr>
				<td class="item" valign="top">
										- Suporte ao MySQL versão >= {CACIC_MYSQLVERSION}
				</td>
				<td align="left" valign="top">
										<span class="{PHPMYSQL_CLASS}">
										{PHPMYSQL_STATUS}
										</span>
										<span class="small">
										{PHPMYSQL_HELP}
										</span>
				</td>
			  </tr>
			  <tr>
				<td class="item" valign="top">- Suporte a criptografia com MCrypt</td>
				<td align="left" valign="top">
										<span class="{PHPMCRYPT_CLASS}">
										{PHPMCRYPT_STATUS}
										</span>
										<span class="small">
										{PHPMCRYPT_HELP}
										</span>
				</td>
			  </tr>
			  <tr>
				<td class="item" valign="top">- Suporte a imagens com GD</td>
				<td align="left" valign="top">
										<span class="{PHPGD_CLASS}">
										{PHPGD_STATUS}
										</span>
										<span class="small">
										{PHPGD_HELP}
										</span>
				</td>
			  </tr>
			  <tr>
				<td class="item" valign="top">
										Arquivo <i><b>config.php</b></i> pode ser gravado
				</td>
				<td align="left" valign="top">
										<span class="{CFGFILE_CLASS}">
										{CFGFILE_STATUS}
										</span>
										<span class="small">
										{CFGFILE_HELP}
										</span>
				</td>
			  </tr>
			</table>
		<fieldset>
		  <!-- legend>Recomendações</legend -->
			<table class="checkinstall">
			  <tr>
				<th>Instrução PHP/Apache</th>
				<th>Ideal</th>
				<th>Real</th>
			  </tr>
			  <tr>
				<td class="item">
										Register Globals:
				</td>
				<td>
										{CACIC_PHPRG}
				</td>
				<td>
										<span class="{PHPRG_CLASS}">
										{PHPRG_STATUS}
										</span>
										<span class="small">
										{PHPRG_HELP}
										</span>
				</td>
			  </tr>
			  <tr>
				<td class="item">
										Register Long Arrays:
				</td>
				<td>
										{CACIC_PHPRLA}
				</td>
				<td>
										<span class="{PHPRLA_CLASS}">
										{PHPRLA_STATUS}
										</span>
										<span class="small">
										{PHPRLA_HELP}
										</span>
				</td>
			  </tr>
			  <tr>
				<td>
				    Memória para execução de programas PHP
				</td>
				<td>
										{CACIC_PHPMEM}
				</td>
				<td>
										<span class="{PHPMEM_CLASS}">
										{PHPMEM_STATUS}
										</span>
										<span class="small">
										{PHPMEM_HELP}
										</span>
				</td>
			  </tr>
			</table>
		  </fieldset>
		</fieldset>
		</div>
        <input type="hidden" id="task" name="task" value="{TASK}" />
        <input type="hidden" name="step" value="{STEP}" />
	 </form>
</cacicInstall:tmpl>

<cacicInstall:tmpl name="tmplNavBarConfiguration">
     <form method="post" name="installForm">
		<table width="100%">
		  <tr class="navbar">
		     <td colspan=2>
				<div class="navbar-btn">
						<div class="navbar-btn-right"><div class="anterior"><a onclick="submitForm( installForm, 'checkinstall' );" alt="Previous">Anterior</a></div></div>
						<div class="navbar-btn-left"><div class="proximo"><a onclick="submitForm( installForm, 'adminSetup' );" alt="Próximo">Próximo</a></div></div>
				</div>
		     </td>
		  </tr>
		</table>
		<fieldset>
			<span id="botoes">
				<table>
				  <tr>
				    <td colspan=3>
						  <script language="JavaScript" type="text/javascript">
							asvAjaxInit("ajax.php"); asvAjaxSetCharset('{CACIC_LANG_CHARSET}');
						  </script>
				      <div class="botoes">
				        <div class="btnleft"><div class="btnright">
				            <a onClick="setDocVar( 'task', 'testConn' ); asvAjaxGetFormData('installForm', 'msgStatus'); return false;" title="Testar conexão com banco de dados.">
				               Teste de conexão</a>
				        </div></div>
				        <div class="btnleft"><div class="btnright">
				               <a onClick="setDocVar( 'task', 'dbBuild' ); asvAjaxGetFormData('installForm', 'msgStatus'); return false;" title="Criar banco de dados.">
				                  Construir BD</a>
				        </div></div>
				        <div class="btnleft"><div class="btnright">
				               <a onClick="setDocVar( 'task', 'showCFGFile' ); asvAjaxGetFormData('installForm', 'msgStatus'); return false;" title="Mostrar o arquivo de configurações para o CACIC.">
				               Mostrar <i>config.php</i></a>
				        </div></div>
						<cacicInstall:tmpl name="tmplNavBarCouldSaveCFGFile" type="condition" conditionvar="salvar">
						<cacicInstall:sub condition="sim">
					        <div class="btnleft"><div class="btnright">
					               <a onClick="setDocVar( 'task', 'saveCFGFile' ); asvAjaxGetFormData('installForm', 'msgStatus'); return false;" title="Salva o arquivo de configurações para o CACIC.">
					                  Gravar <i>config.php</i></a>
					        </div></div>
						</cacicInstall:sub>
						</cacicInstall:tmpl>
				       </div>
				    </td>
				  </tr>
				</table>
			</span>	
		</fieldset>
		<fieldset>
		  <legend>Configurações</legend>
		<fieldset class="configinstall">
		  <legend>Caminhos para a aplicação</legend>
		   <table>
			<tr>
			    <td class="item">
			    	<div align="left"><span class="necessario">*</span>Caminho físico:</div>
			    	<input disabled class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');" type="text" name="cacic_config[path]" value="{CACIC_PATH}" size="70" />
			    	<input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');" type="hidden" name="cacic_config[path]" value="{CACIC_PATH}" size="70" />
			    </td>
			    <td class="help">Caminho físico (path) da instalação do CACIC</td>
			  </tr>
			<tr>
			    <td class="item"><div align="left"><span class="necessario">*</span>Caminho relativo:</div><input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  type="text" name="cacic_config[url]" value="{CACIC_URL}" size="70" />
			    </td>
			    <td class="help">Caminho relativo (URL) da instalação do CACIC</td>
			  </tr>
          </table>
		</fieldset>
    	  <fieldset class="configinstall">
   		    <legend>Tipo de instalação</legend>
   		    <table>
   		      <tr>
    		    <td class="item">Nova:</td>
    		    <td><input type="radio" checked class="input" {INSTALL_NEW} onClick="setDocVar('installType', 'createDB');  hideDetails('updateInstall'); showDetails('newInstall');" name="cacic_config[install][type]" value="createDB"  /></td>
    		    <td class="help">Construir o banco de dados para uma nova instalação do CACIC.
    			  <div id="newInstall">
    			  	<table>
    				  <thead>
    					  <tr>
    					    <th class="help" colspan="3">Dados do administrador para criar o banco de dados.</th>
    					  </tr>
    				  </thead>
    				  <tr>
    				    <td class="item">Usuário:</td>
    				    <td> <input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  type="text" name="cacic_config[db_admin]" value="{DB_ADMIN}" /></td>
    				    <td class="help">Login do administrador do banco de dados.</td>
    				  </tr>
    				  <tr>
    				    <td class="item">Senha:</td>
    				    <td> <input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  type="password" name="cacic_config[db_admin_pass]" value="{DB_ADMIN_PASS}" /></td>
    				    <td class="help">Senha do administrador do banco de dados.</td>
    				  </tr>
    	  		      <tr>
    				    <td class="item">Demonstração:</td>
    				    <td><input class="input" onClick="toggleVar( this, 'demo' );" type="checkbox" name="cacic_config[dbdet][demo]" value="" /></td>
    				    <td class="help">Inserir dados para demonstração do CACIC.</td>
    	  		      </tr>
      		    	</table>
      		      </div>
    		    </td>
  		      </tr>
<cacicInstall:comment>
  		      <tr>
    		    <td class="item">Atualização:</td>
    		    <td><input type="radio" class="input" {INSTALL_UPDATE} onClick="setDocVar('installType', 'atualizar'); hideDetails('newInstall'); showDetails('updateInstall');" name="cacic_config[install][type]" value="" /></td>
    		    <td class="help">Atualizar as tabelas do banco conforme versão a ser escolhida.
    			  <div id="updateInstall" style="display: none;">
    			  	<table>
    				  <thead>
    					  <tr>
    					    <th class="help" colspan="3">Versão a ser atualizada.</th>
    					  </tr>
    				  </thead>
    				  <tr>
    				    <td class="item">Versão:</td>
    				    <td>
    				      <select class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  name="cacic_config[install][updateFromVersion]">
    							<option value=""></option>
                                <cacicInstall:tmpl name="cacic_updateFromVersion">
                    				<option {VERSION_SELECTED} value="{VERSION_ID}">{VERSION_NAME}</option>
                                </cacicInstall:tmpl>
    				      </select>
    				    </td>
    				    <td class="help">Selecione a versão do CACIC a ser atualizada.</td>
    	  		        <tr>
    				      <td class="item">Copiar:</td>
    				      <td><input class="input" onClick="toggleVar( this, 'bkp' );" type="checkbox" name="cacic_config[dbdet][bkp]"  value="" /></td>
    				      <td class="help">Realizar cópia do banco de dados por segurança.</td>
    	  		        </tr>
    				  </tr>
      		    	</table>
      		      </div>
    		    </td>
  		      </tr>
</cacicInstall:comment>
  		    </table>
    	  </fieldset>
		<fieldset class="configinstall">
		  <legend>Banco de dados</legend>
		   <table>
			<tr>
			    <td class="item"><span class="necessario">*</span>Tipo:
			    </td>
			    <td>
			      <select class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  name="cacic_config[db_type]">
						<option value="mysql">MySQL</option>
			      </select>
			    </td>
			    <td class="help">Qual o tipo de banco de dados a usar (Somente MySQL por enquanto).</td>
			  </tr>
			  <tr>
			    <td class="item"><span class="necessario">*</span>Servidor:</td>
			    <td>
			       <input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  type="text" name="cacic_config[db_host]" value="{DB_HOST}" />
			    </td>
			    <td class="help">Nome do servidor (ou IP) do banco de dados.<br />
			  </tr>
			  <tr>
			    <td class="item"><span class="necessario">*</span>Porta:</td>
			    <td> 
			       <input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  type="text" name="cacic_config[db_port]" value="{DB_PORT}" />
			    </td>
			    <td class="help">Porta de conexão ao banco de dados.</td>
			  </tr>
			  <tr>
			    <td class="item"><span class="necessario">*</span>Nome:</td>
			    <td>
			       <input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  type="text" name="cacic_config[db_name]" value="{DB_NAME}" />
			    </td>
			    <td class="help">Nome do banco de dados pré-existente.</td>
			  </tr>
			  <tr>
			    <td class="item"><span class="necessario">*</span>Usuário:</td>
			    <td> 
			       <input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  type="text" name="cacic_config[db_user]" value="{DB_USER}" />
			    </td>
			    <td class="help">Nome do usuário para ser usado pelo CACIC para conectar ao banco de dados.</td>
			  </tr>
			  <tr>
			    <td class="item">Senha:</td>
			    <td> <input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  type="password" name="cacic_config[db_pass]" value="{DB_PASS}" /></td>
			    <td class="help">Senha para o usuário do banco de dados.</td>
			  </tr>
          </table>
			<table width="100%">
                <tr> 
                  <td><div id="configureData"></div></td>
                </tr>
			</table>          
		</fieldset>
		</fieldset>
        <input type="hidden" id="installType" name="cacic_config[install][type]" value="{INSTALL_TYPE}" />
        <input type="hidden" id="task" name="task" value="{TASK}" />
        <input type="hidden" name="step" value="{STEP}" />
	 </form>
</cacicInstall:tmpl>

<cacicInstall:tmpl name="tmplNavBarAdminSetup">
     <form method="post" name="installForm">
		<table width="100%">
		  <tr class="navbar">
		     <td colspan=2>
				<div class="navbar-btn">
						<div class="navbar-btn-right"><div class="anterior"><a onclick="submitForm( installForm, 'Configuration' );" alt="Previous">Anterior</a></div></div>
						<div class="navbar-btn-left"><div class="proximo"><a onclick="submitForm( installForm, 'Finish' );" alt="Próximo">Próximo</a></div></div>
				</div>
		     </td>
		  </tr>
		</table>
		<fieldset>
			<span id="botoes">
				<table>
					<tr>
					  <td>
						  <script language="JavaScript" type="text/javascript">
							asvAjaxInit("ajax.php"); asvAjaxSetCharset('{CACIC_LANG_CHARSET}');
						  </script>
					      <div class="botoes">
					        <div class="btnleft"><div class="btnright">
					            <a onClick="setDocVar( 'task', 'salvaAdminSetup' ); asvAjaxGetFormData('installForm', 'msgStatus'); return false;" title="Salvar dados do administrador do CACIC.">
					               Salvar</a>
					        </div></div>
					     </div>
					  </td>
					</tr>
				</table>
			</span>	
		</fieldset>
		<fieldset>
		  <legend>Administração do CACIC-Gerente</legend>
			<fieldset>
			  <legend>Dados de localização</legend>
		     	<table class="configinstall">
		     	  <tr>
				    <td class="item"><span class="necessario">*</span>Sigla:</td>
				    <td><input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  type="text" name="cacic_admin[local_sigla]" value="{LOCAL_SIGLA}" /></div></td>
				    <td class="help">Sigla do local ao qual a aplicação gerente está associada.</td>
				  </tr>
		     	  <tr>
				    <td class="item"><span class="necessario">*</span>Nome:</td>
				    <td><input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  type="text" name="cacic_admin[local_nome]" value="{LOCAL_NOME}" size="50" />
				    </td>
				    <td class="help">Local ao qual a aplicação gerente está associada.</td>
				  </tr>
		     	  <tr>
				    <td class="item">Observação:</td>
				    <td><textarea class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  name="cacic_admin[local_observacao]" value="{LOCAL_OBSERVACAO}" cols="38" /></textarea></td>
				    </td>
				    <td class="help">Observações (informações) para o local ao qual a aplicação gerente está associada.</td>
				  </tr>
				</table>
			</fieldset>
			<fieldset>
			  <legend>Dados do Administrador</legend>
		     	<table class="configinstall">
					<tr>
					    <td class="item"><span class="necessario">*</span>Login:</td>
					    <td><input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  type="text" name="cacic_admin[admin_login]" value="{ADMIN_LOGIN}" /></td>
					    <td class="help">Login do Administrador do CACIC</td>
					  </tr>
					<tr>
					<tr>
					    <td class="item"><span class="necessario">*</span>Senha:</td>
					    <td><input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  type="password" name="cacic_admin[admin_senha]" value="{ADMIN_SENHA}" /></td>
					    <td class="help">Senha do Administrador do CACIC</td>
					  </tr>
					<tr>
					<tr>
					    <td class="item"><span class="necessario">*</span>Confirmação:</td>
					    <td><input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  type="password" name="cacic_admin[admin_senha_check]" value="{ADMIN_SENHA_CHECK}" /></td>
					    <td class="help">Confirmar senha do Administrador do CACIC</td>
					  </tr>
					<tr>
					<tr>
					    <td class="item"><span class="necessario">*</span>Nome:</td>
					    <td><input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  type="text" name="cacic_admin[admin_nome]" value="{ADMIN_NOME}" size="40" /></td>
					    <td class="help">Nome do Administrador do CACIC</td>
					  </tr>
					<tr>
					<tr>
					    <td class="item">Endereço eletrônico:</td>
					    <td><input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  type="text" name="cacic_admin[admin_email]" value="{ADMIN_EMAIL}" size="40" /></td>
					    <td class="help">Endereço eletrônico do Administrador do CACIC para envio de mesagens</td>
					  </tr>
					<tr>
					<tr>
					    <td class="item">Telefone:</td>
					    <td><input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  type="text" name="cacic_admin[admin_fone]" value="{ADMIN_FONE}" /></td>
					    <td class="help">Número do telefone do Administrador do CACIC para contato.</td>
					</tr>
				</table>
			</fieldset>
		</fieldset>
        <input type="hidden" id="task" name="task" value="{TASK}" />
        <input type="hidden" name="step" value="{STEP}" />
	 </form>
</cacicInstall:tmpl>

<cacicInstall:tmpl name="tmplNavBarFinish">
     <form method="post" name="installForm">
		<table width="100%">
		  <tr class="navbar">
		     <td colspan=2>
				<div class="navbar-btn">
						<div class="navbar-btn-right"><div class="anterior"><a onclick="submitForm( installForm, 'adminSetup' );" alt="Previous">Anterior</a></div></div>
						<div class="navbar-btn-left"><div class="proximo"><a onclick="javascript:document.location.href='{CACIC_URL}';" title="Iniciar uso do CACIC!">Finalizar</a></div></div>
				</div>
		     </td>
		  </tr>
		</table>
		<fieldset>
		  <legend>Conclusão da instalação do CACIC</legend>
		     <p>Agora a instalação está finalizada e o CACIC poderá ser usado. Antes porém, leia as nossas <b>recomendações</b> abaixo:
			 <h3>Recomendações</h3>
			 <ul>
			    <li>Por segurança exclua o diretório <b><i>instalador</i></b> existente na raiz do CACIC.</li>
			 </ul>
		<div class="changelog">
    		<fieldset>
    		  <legend>Histórico de alterações no CACIC</legend>
        		<table>
        		  <tr>
        		     <td>
                    	 <ul>
                    	    <li>Suporte a locais.</li>
                    	    <li>Controle de patrimônio.</li>
                    	    <li>Instalador via web.</li>
                    	    <li>e ainda...<span id="clDet" title="Ver detalhes" class="semDetalhes" onclick="toggleClass('clDet', 'semDetalhes', 'comDetalhes'); toggleDetails('changelog-det');">&nbsp;</span></li>
                    	 </ul>
                    	 <div id="changelog-det" style="display: none;">
            		       <pre><cacicInstall:tmpl src="../../changelog.txt" parser="off" /></pre>
            		     </div>
        		     </td>
        		  </tr>
        		</table>
    		</fieldset>
		</div>
		<div class="changelog">
    		<fieldset>
    		  <legend>Recursos para as próximas versões do CACIC</legend>
        		<table>
        		  <tr>
        		     <td>
                    	 <ul>
                    	    <li>Suporte multi-idiomas.</li>
                    	    <li>Suporte a vários tipos de bancos de dados (ex: MySQL, PostgreSQL).</li>
                    	    <li>e ainda...<span id="tdDet" title="Ver detalhes" class="semDetalhes" onclick="toggleClass('tdDet', 'semDetalhes', 'comDetalhes'); toggleDetails('to-do-det');">&nbsp;</span></li>
                    	 </ul>
                    	 <div id="to-do-det" style="display: none;">
            		       <pre><cacicInstall:tmpl src="../../to-do.txt" parser="off" /></pre>
            		     </div>
        		     </td>
        		  </tr>
        		</table>
    		</fieldset>
		</fieldset>
		</div>
        <input type="hidden" name="step" value="" />
	 </form>
</cacicInstall:tmpl>

<cacicInstall:tmpl name="tmplCFGFile">

	<cacicInstall:tmpl name="tmplCFGFileCab" type="simplecondition" requiredvars="show_path">
			<p>Este é o conteúdo do arquivo <i>config.php</i> que deverá ser criado em <i><b>{SHOW_PATH}/include/config.php</b></i>	
			<BR>
	</cacicInstall:tmpl>
	
	<cacicInstall:phphighlight  title="config.php" linenumbers="off">
<?php
	/*
     * Arquivo de configurações para o CACIC
	 * @version $Id: config.php 2007-02-08 22:20 harpiain $
	 * @package Cacic
	 * @license GNU/GPL, see LICENSE.txt
	 */

    /*
     * Nome do banco de dados
     */
    $nome_bd = "{DB_NAME}";
    
    /*
     * Nome/IP do servidor de banco de dados
     */
	$ip_servidor = "{DB_SERVER}";
    
    /*
     * Porta no servidor de banco de dados
     */
	$porta = "{DB_PORT}";
    
    /*
     * Usuário de conexão do servidor de banco de dados
     */
	$usuario_bd = "{DB_USER}";
    
    /*
     * Senha do usuário de conexão do servidor de banco de dados
     */
	$senha_usuario_bd = "{DB_USER_PASS}";
    
    /*
     * Caminho da aplicação "CACIC"
     */
	$path_aplicacao = "{CACIC_PATH}";

	/*
	 * ATENÇÃO:
	 * As chaves abaixo, até a presente versão, são assiméticas, ou seja, 
	 * caso seja necessário alterá-las, os agentes "Cacic2.exe", "ChkCacic.exe" e   
	 * "ChkSis.exe" também deverão ser alterados, via programação Delphi 7.
     */
	$key = '{CACIC_KEY}';
	$iv = '{CACIC_IV}';
?>
	</cacicInstall:phphighlight>
</cacicInstall:tmpl>
