<cacicInstall:comment>
/**
 * @version $Id: index.php 2007-02-08 22:20 harpiain $
 * @package Cacic-Installer
 * @subpackage Instalador
 * @author Adriano dos Santos Vieira <harpiain at gmail.com>
 * @copyright Copyright (C) 2007 Adriano dos Santos Vieira. All rights reserved.
 * @license GNU/GPL, see LICENSE.php
 * CACIC-Install is free software and parts of it may contain or be derived from the
 * GNU General Public License or other free or open source software licenses.
 * See COPYRIGHT.php for copyright notices and details.
 * @description Templates para para o Instalador do CACIC
 */
</cacicInstall:comment>

<cacicInstall:tmpl name="tmplNavBarMailVerify">
     <form method="post" name="installForm">
		<table width="100%">
		  <tr class="navbar">
		     <td colspan=2>
				<div class="navbar-btn">
						<div class="navbar-btn-right"><div class="anterior"><a onclick="submitForm( installForm, 'Configuration' );" title="{KCIQ_PREVIOUS}">{KCIQ_PREVIOUS}</a></div></div>
						<div class="navbar-btn-left"><div class="proximo"><a onclick="submitForm( installForm, 'FtpVerify' );" title="{KCIQ_NEXT}">{KCIQ_NEXT}</a></div></div>
				</div>
		     </td>
		  </tr>
		</table>
		<fieldset>
			<span id="botoes">
				<table>
				  <tr>
				    <td colspan=3>
						  <script language="JavaScript" type="text/javascript">
							asvAjaxInit("ajax.php"); asvAjaxSetCharset('{CACIC_LANG_CHARSET}');
						  </script>
				      <div class="botoes">
				        <div class="btnleft"><div class="btnright">
				            <a onClick="setDocVar( 'task', 'testConnMail' ); asvAjaxGetFormData('installForm', 'msgStatus'); return false;" title="{KCIQ_TESTCONN_HELP}">
				               {KCIQ_TESTCONN}</a>
				        </div></div>
				       </div>
				    </td>
				  </tr>
				</table>
			</span>	
		</fieldset>
		<fieldset>
		  <legend>{KCIQ_CONFIGURATIONS}</legend>
		<fieldset class="configinstall">
		  <legend>{KCIQ_INST_MAILVERIFY}</legend>
		   <table>
			  <tr>
			    <td class="item"><span class="necessario">*</span>{KCIQ_MSG_SERVER}:</td>
			    <td>
			       <input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  type="text" name="cacic_cfgmail[mail_host]" value="{MAIL_HOST}" />
			    </td>
			    <td class="help">{KCIQ_INST_MAIL_HOST_HELP}</td>
			  </tr>
			  <tr>
			    <td class="item"><span class="necessario">*</span>{KCIQ_MSG_PORT}:</td>
			    <td> 
			       <input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  type="text" name="cacic_cfgmail[mail_port]" value="{MAIL_PORT}" />
			    </td>
			    <td class="help">{KCIQ_INST_MAIL_PORT_HELP}</td>
			  </tr>
			  <tr>
			    <td class="item"><span class="necessario">*</span>{KCIQ_MSG_USER}:</td>
			    <td> 
			       <input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  type="text" name="cacic_cfgmail[mail_user]" value="{MAIL_USER}" />
			    </td>
			    <td class="help">{KCIQ_INST_MAILUSER_HELP}</td>
			  </tr>
			  <tr>
			    <td class="item">{KCIQ_MSG_PASS}:</td>
			    <td> <input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  type="password" name="cacic_cfgmail[mail_pass]" value="{MAIL_PASS}" /></td>
			    <td class="help">{KCIQ_INST_MAILPASS_HELP}</td>
			  </tr>
			  <tr>
			    <td class="item"><span class="necessario">*</span>{KCIQ_INST_MAIL_SUBDIR}:</td>
			    <td>
			       <input class="input" onFocus="setClass(this, 'inputFocus');" onBlur="setClass(this, 'input');"  type="text" name="cacic_cfgmail[mail_subdir]" value="{MAIL_SUBDIR}" />
			    </td>
			    <td class="help">{KCIQ_INST_MAIL_SUBDIR_HELP}</td>
			  </tr>
          </table>
			<table width="100%">
                <tr> 
                  <td><div id="configureData"></div></td>
                </tr>
			</table>          
		</fieldset>
		</fieldset>
        <input type="hidden" id="task" name="task" value="{TASK}" />
        <input type="hidden" name="step" value="{STEP}" />
	 </form>
</cacicInstall:tmpl>
