<cacicInstall:comment>
/**
 * @version $Id: index.php 2007-02-08 22:20 harpiain $
 * @package Cacic-Installer
 * @subpackage Instalador
 * @author Adriano dos Santos Vieira <harpiain at gmail.com>
 * @copyright Copyright (C) 2007 Adriano dos Santos Vieira. All rights reserved.
 * @license GNU/GPL, see LICENSE.php
 * CACIC-Install is free software and parts of it may contain or be derived from the
 * GNU General Public License or other free or open source software licenses.
 * See COPYRIGHT.php for copyright notices and details.
 * @description Templates para para o Instalador do CACIC
 */
</cacicInstall:comment>

<cacicInstall:tmpl name="tmplPageHeader">
<html>
<head>
<title>{CACIC_TITLE}</title>
<meta http-equiv="Content-Language" content="{CACIC_LANG}" />
<meta http-equiv="Content-Type" content="text/html; charset={CACIC_LANG_CHARSET}" />
<link href="{CACIC_URL}/theme/{CACIC_THEME}/css/install.css" rel="stylesheet" type="text/css" />
  <script language="JavaScript" type="text/javascript" src="{CACIC_URL}/theme/{CACIC_THEME}/js/install.js"></script>
  <script language="JavaScript" type="text/javascript" src="{CACIC_URL}/js/cacic-installer.js"></script>
  <script language="JavaScript" type="text/javascript" src="{CACIC_URL}/js/asv/asvAjax.js"></script>
  <script language="JavaScript" type="text/javascript" src="{CACIC_URL}/js/asv/asvUtils.js"></script>
  <script language="JavaScript" type="text/javascript" src="{CACIC_URL}/js/sl/sorttable.js"></script>
</head>
</cacicInstall:tmpl>
