<style type=text/css>
input.digitacao {background-color: #CCCCCC; font-weight: bold; font-size: 9px; color: black; border: solid #000099;}
input.normal {background-color: #FFFFFF; font-weight: normal; font-size: 9px; color: black;}
input.texto_ajuda {background-color: #FFFFFF; font-weight: normal;  font-style: verdana; font-size: 9px; color: black; border: 0px}
input.texto_pesquisa {background-color: #EBEBEB; font-weight: normal;  font-style: verdana; font-size: 9px; color: blue; border: 0px; size: 30;}
input.destaque{background-color: #ffFF66; font-weight: bold; font-size: 10px; color: black;}
input.dado_peq_sem_fundo {background-color: #CCCCCC; font-weight: bold; font-size: 9px; color: black; }
textarea.normal {background-color: #FFFFFF; font-weight: normal; font-size: 11px; color: black;}
textarea.digitacao {background-color: #CCCCCC; font-weight: bold; font-size: 11px; color: black; border:1px solid #000099;}
select.multipequeno {background-color: #FFFFFF; font-weight: normal; font-size: 9px; color: black; size: 1;}
select.normal {background-color: #FFFFFF; font-weight: normal; font-size: 9px; color: black;}
select.digitacao {background-color: #CCCCCC; font-weight: bold; font-size: 9px; color: black; border:1px solid #000099;}
option.normal {background-color: #FFFFFF; font-weight: normal; font-size: 9px; color: black;}
option.digitacao {background-color: #CCCCCC; font-weight: normal; font-size: 9px; color: black; border:1px solid #000099;}
checkbox.normal {background-color: #FFFFFF; font-weight: normal; font-size: 9px; color: black; vertical-align: baseline;}
checkbox.digitacao {background-color: #CCCCCC; font-weight: normal; font-size: 9px; color: black; border:1px solid #000099;}
tr.normal {text-align: center;}
td.normal {background-color: #FFFFFF; font-weight: normal; font-size: 9px; color: black; font-family: Verdana, Arial, sans;}
td.cabecalho {background-color: #FFFFFF; font-weight: bold; font-size: 17px; color: red; font-family: Verdana, Arial, sans;}
td.cabecalho_rel {background-color: #FFFFFF; font-weight: bold; font-size: 17px; color: black; font-family: Verdana, Arial, sans;}
td.cabecalho_tabela {font-weight: bold; font-size: 9px; color: black; font-family: Verdana, Arial, sans;}
td.opcao_tabela {font-weight: normal; font-size: 10px; color: black; font-family: Verdana, Arial, sans; vertical-align: middle;}
td.nao_atualizado {font-weight: normal; font-size: 12px; color: red; font-family: Verdana, Arial, sans;}
td.nao_enviado {font-weight: normal; font-size: 12px; color: red; font-family: Verdana, Arial, sans;}
td.atualizado {font-weight: normal; font-size: 12px; color: blue; font-family: Verdana, Arial, sans;}
td.enviado {font-weight: normal; font-size: 12px; color: blue; font-family: Verdana, Arial, sans;}
td.opcao_tabela_blue {font-weight: normal; font-size: 12px; color: blue; font-family: Verdana, Arial, sans;}
td.opcao_tabela_red {font-weight: bold; font-size: 12px; color: red; font-family: Verdana, Arial, sans;}
td.descricao {background-color: #FFFFFF; font-weight: normal; font-size: 10px; color: black; font-family: Verdana, Arial, sans;}
td.descricao_rel {background-color: #FFFFFF; font-weight: normal; font-size: 9px; color: black; font-family: Verdana, Arial, sans;}
td.label {background-color: #FFFFFF; font-weight: bold; font-size: 11px; color: black; font-family: Verdana, Arial, sans;}
td.label_vermelho {background-color: #FFFFFF; font-weight: bold; font-size: 12px; color: red; font-family: Verdana, Arial, sans;}
td.label_peq_sem_fundo {font-weight: normal; font-size: 9px; color: black; font-family: Verdana, Arial, sans; height:25;}
td.dado_peq_sem_fundo {font-weight: bold; font-size: 8px; color: black; font-family: Verdana, Arial, sans; height:25;}
td.dado {background-color: #FFFFFF; font-weight: bold; font-size: 11px; color: black; font-family: Verdana, Arial, sans;}
td.opcao {background-color: #FFFFFF; font-weight: normal; font-size: 11px; color: black; font-family: Verdana, Arial, sans;}
td.destaque {font-weight: bold; font-size: 10px; color: black; font-family: Verdana, Arial, sans;}
td.cabecalho_secao {background-color: #FFFFFF; font-weight: bold; font-size: 17px; color: black; font-family: Verdana, Arial, sans;}
td.ajuda {background-color: #FFFFFF; font-weight: normal; font-size: 10px; color: black; font-family: Verdana, Arial, sans;}
a 
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	color: #000000;	
	text-decoration: none;
	}
a:link 
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: bold;
	color: #000000;		
	text-decoration: none;
	}
a:hover 
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	color: #FF9900;
	text-decoration: none;
	}

scrollbar-arrow-color: #003366; 
scrollbar-base-color: #CCCCCC; 
scrollbar-dark-shadow-color: #003366; 
scrollbar-track-color: #003366

  BODY 
  	{ 
	font-family : Verdana,Arial; 
	}
  TD   
  	{ 
	font-family : Verdana,Arial; font-size : 8pt; vertical-align: middle; 
	}
        /* Inicio Marisol 24-07-2006: Utilizado no menu rapido menu_esq.php */
		/* Por motivos de incompatibilidade do SPAN com o Mozilla Firefox, optou-se em usar INPUT... */
        a.dcontexto
        {
            position:relative; 
            padding:0;
            color:#039;
            text-decoration:none;
            cursor:help; 
            z-index:24; 
        }
        a.dcontexto:hover
        {
            background:transparent;
            z-index:25; 
            color:#039;
        }
        a.dcontexto span{display: none;}
        a.dcontexto:hover span
        { 
            display: block;
            position:absolute;
            width:120px; 
            top:-3em;
            text-align:justify;
            left:5;
            padding:5px 10px;
            border:1px solid #999;
            background:#e0ffff; 
            color:#000;
        }	
		#nav a.dcontexto:hover span 
		{
		visibility:visible!important;
		} 
	
</style>