<style type=text/css>
BODY 
  	{ 
	font-family : Verdana,Arial; 
	}
TD   
  	{ 
	font-family : Verdana,Arial; font-size : 8pt; vertical-align: middle; 
	}

#layerAguarde 
	{
	border:groove #FF0000;
	display:none;
	position:absolute;
	width:275px;
	height:25px;
	z-index:1;
	left: 280px;
	top: 80px;
	background-color: #FFFFCC;
	}
.style1 {font-family: Verdana, Arial, Helvetica, sans-serif}

input.digitacao {background-color: #CCCCCC; font-weight: bold; font-size: 9px; color: black; border: solid #000099;}
input.normal {background-color: #FFFFFF; font-weight: normal; font-size: 9px; color: black; z-index:2}
input.normal_numero {background-color: #FFFFFF; font-weight: normal; font-size: 9px; color: black; z-index:2; text-align:right}
input.anormal {background-color: #FFFFCC; font-weight: normal; font-size: 9px; color: black; z-index:2}
input.texto_ajuda {background-color: #FFFFFF; font-weight: normal;  font-style: verdana; font-size: 9px; color: black; border: 0px}
input.texto_pesquisa {background-color: #EBEBEB; font-weight: normal;  font-style: verdana; font-size: 9px; color: blue; border: 0px; size: 30;}
input.destaque{background-color: #ffFF66; font-weight: bold; font-size: 10px; color: black;}
input.dado_peq_sem_fundo {background-color: #CCCCCC; font-weight: bold; font-size: 9px; color: black; }
textarea.normal {background-color: #FFFFFF; font-weight: normal; font-size: 10px; color: black; font-family: Verdana; z-index:2}
textarea.digitacao {background-color: #CCCCCC; font-weight: bold; font-size: 11px; color: black; border:1px solid #000099;font-family: Verdana;}
select.multipequeno {background-color: #FFFFFF; font-weight: normal; font-size: 9px; color: black; size: 1;}
select.normal {background-color: #FFFFFF; font-weight: normal; font-size: 9px; color: black; z-index:2}
select.digitacao {background-color: #CCCCCC; font-weight: bold; font-size: 9px; color: black; border:1px solid #000099;}
option.normal {background-color: #FFFFFF; font-weight: normal; font-size: 9px; color: black; z-index:2}
option.digitacao {background-color: #CCCCCC; font-weight: normal; font-size: 9px; color: black; border:1px solid #000099;}
checkbox.normal {background-color: #FFFFFF; font-weight: normal; font-size: 9px; color: black; vertical-align: baseline; z-index:2}
checkbox.digitacao {background-color: #CCCCCC; font-weight: normal; font-size: 9px; color: black; border:1px solid #000099;}
tr.normal {text-align: center; z-index:2}
td.layerUpdates{background-color: #FFFFFF; text-align: center; font-weight: normal; font-size: 9px; color: black; font-family: Verdana, Arial, sans; border:1px solid #FFFFFF;}
td.normal {background-color: #FFFFFF; font-weight: normal; font-size: 9px; color: black; font-family: Verdana, Arial, sans; z-index:2}

td.td_amarelo{background-color: #FFFF99; font-weight: normal; font-size: 9px; color: black; font-family: Verdana, Arial, sans; z-index:2}
td.td_laranja{background-color: #FFCC00; font-weight: normal; font-size: 9px; color: black; font-family: Verdana, Arial, sans; z-index:2}
td.td_vermelho{background-color: #FF0000; font-weight: normal; font-size: 9px; color: black; font-family: Verdana, Arial, sans; z-index:2}

td.cabecalho {background-color: #FFFFFF; font-weight: bold; font-size: 17px; color: red; font-family: Verdana, Arial, sans;}
td.cabecalho_rel {background-color: #FFFFFF; font-weight: bold; font-size: 17px; color: black; font-family: Verdana, Arial, sans;}
td.cabecalho_tabela {font-weight: bold; font-size: 9px; color: black; font-family: Verdana, Arial, sans;}
td.opcao_tabela {font-weight: normal; font-size: 10px; color: black; font-family: Verdana, Arial, sans; vertical-align: middle;}
td.opcao_tabela_destaque {font-weight: bold; font-size: 10px; color: black; font-family: Verdana, Arial, sans; vertical-align: middle;}
td.nao_atualizado {font-weight: normal; font-size: 12px; color: red; font-family: Verdana, Arial, sans;}
td.nao_enviado {font-weight: normal; font-size: 12px; color: red; font-family: Verdana, Arial, sans;}
td.atualizado {font-weight: normal; font-size: 12px; color: blue; font-family: Verdana, Arial, sans;}
td.enviado {font-weight: normal; font-size: 12px; color: blue; font-family: Verdana, Arial, sans;}
td.opcao_tabela_blue {font-weight: normal; font-size: 12px; color: blue; font-family: Verdana, Arial, sans;}
td.opcao_tabela_red {font-weight: bold; font-size: 12px; color: red; font-family: Verdana, Arial, sans;}
td.descricao {font-weight: normal; font-size: 10px; color: black; font-family: Verdana, Arial, sans;}
td.descricao_rel {background-color: #FFFFFF; font-weight: normal; font-size: 9px; color: black; font-family: Verdana, Arial, sans;}
td.label {background-color: #FFFFFF; font-weight: bold; font-size: 11px; color: black; font-family: Verdana, Arial, sans;}
td.label_vermelho {background-color: #FFFFFF; font-weight: bold; font-size: 12px; color: red; font-family: Verdana, Arial, sans;}
td.label_peq_sem_fundo {font-weight: normal; font-size: 9px; color: black; font-family: Verdana, Arial, sans; height:25;}
td.dado_peq_sem_fundo {font-weight: bold; font-size: 8px; color: black; font-family: Verdana, Arial, sans; height:25;}
td.dado_peq_sem_fundo_normal {font-weight: normal; font-size: 9px; color: black; font-family: Verdana, Arial, sans;}
td.dado_med_sem_fundo {font-weight: bold; font-size: 10px; color: black; font-family: Verdana, Arial, sans; height:25;}
td.dado {font-weight: bold; font-size: 11px; color: black; font-family: Verdana, Arial, sans;}
td.opcao {background-color: #FFFFFF; font-weight: normal; font-size: 11px; color: black; font-family: Verdana, Arial, sans;}
td.destaque {font-weight: bold; font-size: 10px; color: black; font-family: Verdana, Arial, sans;}
td.destaque_laranja {font-weight: bold; font-size: 10px; color: orange; font-family: Verdana, Arial, sans;}
td.cabecalho_secao {background-color: #FFFFFF; font-weight: bold; font-size: 17px; color: black; font-family: Verdana, Arial, sans;}
td.ajuda {background-color: #FFFFFF; font-weight: normal; font-size: 10px; color: black; font-family: Verdana, Arial, sans;}

a 
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	color: blue;	
	text-decoration: none;
	z-index:2;
	}
a:link 
	{
	font-style: bold;
	z-index:2;
	}
a:hover 
	{
	color: #FF9900;
	z-index:2;
	}

scrollbar-arrow-color: #003366; 
scrollbar-base-color: #CCCCCC; 
scrollbar-dark-shadow-color: #003366; 
scrollbar-track-color: #003366
	
/* Inicio Marisol 24-07-2006: Utilizado no menu rapido menu_esq.php */
/* Por motivos de incompatibilidade do SPAN com o Mozilla Firefox, optou-se em usar INPUT - Anderson Peterle - Dataprev/ES */

a.dcontexto:link
	{
	position:relative; 
	padding:0;
	color:#039;
	text-decoration:none;
	font-size:smaller;
	cursor:pointer; 
	z-index:24;
	}
a.dcontexto:hover
	{
	background:transparent;
	z-index:25; 
	color:#039;
	}
a.dcontexto span
	{
	display: none;
	}
a.dcontexto:hover span
	{ 
	display: block;
	position:absolute;
	width:120px; 
	top:-3em;
	font-size:smaller;
	left:5;
	padding:5px 10px;
	border:1px solid #999;
	background:#e0ffff; 
	color:#039;
	}	
#nav a.dcontexto:hover span 
	{
	visibility:visible!important;
	}

.necessario {
    padding: 0px 02px 0px 0px;
    color: red;
    font-size: 10px;
}

/*
 * Redefinicao de CSS para futura criacao de "temas"
 */
.frameprincipal {
	background: url('../imgs/linha_v.gif');
}

.frameprincipal .cabecalho {
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 17px;
    color: red;
    font-family: Verdana, Arial, sans;
}

.frameprincipal .cabecalho table {
    text-align: justify; 
    color: black; 
    width: 98%;
    margin-left: auto; 
    margin-right: auto;
    border: 0;
    padding: 0;
}

.frameprincipal .cabecalho img {
    //opacity:0.65;
    //-moz-opacity: 0.65;
    //filter: alpha(opacity=65);
    //border: 1px solid #0000ff;
    margin: 2px;
    height: 40;
    width: 40;
    float: left;
    text-align: center;
}

.frameprincipal .descricao {
    font-weight: normal;
    font-size: 10px;
    color: black;
    font-family: Verdana, Arial, sans;
}

.frameprincipal .corpo table {
    text-align: justify; 
    color: black; 
    width: 100%;
    margin-left: auto; 
    margin-right: auto;
    border: 0;
    padding: 0;
}

.frameprincipal .header {
	background: #CFCFCD;
    text-align: center;
    font-size: 12px;
}

.frameprincipal .help {
	//background: url('../imgs/help.png') no-repeat;
    text-align: center;
    //cursor: pointer;
    font-size: 10px; 
	font-style: italic;
    padding: 2;
	color: green;
}

.frameprincipal .buildingAjax {
	background: url('../imgs/carregando.gif') no-repeat;
	padding: 0px 0px 0px 20px;
	height: 16px;
	width: 16px;
}

.frameprincipal .btnForm {
	background: #CCCCCC;
}

.frameprincipal input, textarea {
    text-align: left;
    vertical-align: top;
}

.frameprincipal .inputFocus {
	text-align: left;
	vertical-align: top;
	background-color: yellow;
}

.frameprincipal .inputError {
    text-align: left;
    vertical-align: top;
    border-color: red red red red;
}

.frameprincipal .hidden {
	display: none;
}

.frameprincipal .odd {
    background: #CCCCCC;
    vertical-align: top;
}

.frameprincipal .even {
	background: #DBDBDB;
    vertical-align: top;
}

.frameprincipal .botoes input {
    height: 26px;
    float: right;
    line-height: 26px;
    font-size: 10px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    vertical-align: top;
}

.frameprincipal .messages {
    //height: 30px;
    //line-height: 26px;
    //font-size: 12px;
    //font-weight: bold;
    color: #333;
    vertical-align: top;
}

.Sim, .Ok, .Gravavel {
    padding: 05 26px 0 0px;
    font-weight: bold;
    font-size: 12px;
    color: green;
}

.SimImg, .OkImg, .GravavelImg {
    background: url('../imgs/checked.png') 100% 0 no-repeat;
    padding: 05 26px 10 0px;
    font-weight: bold;
    font-size: 12px;
    color: green;
}

.Nao, .Erro, .NaoGravavel {
    padding: 05 22px 10 0px;
    font-weight: bold;
    font-size: 12px;
    color: red;
}

.NaoImg, .ErroImg, .NaoGravavelImg {
    background: url('../imgs/error.png') 100% 0 no-repeat;
    padding: 05 22px 10 0px;
    font-weight: bold;
    font-size: 12px;
    color: red;
}

.NoJavaScript {
    font-size: 14px;
    text-align: center; 
    background-color: red;
    color: white;
}

.Aviso {
    padding: 05 10px 10 0px;
    font-weight: bold;
    font-size: 12px;
    color: #f6bf01;
}

.AvisoImg {
    background: url('../imgs/warning.png') 100% 0 no-repeat;
    padding: 05 10px 10 0px;
    font-weight: bold;
    font-size: 12px;
    color: #f6bf01;
}

.necessario {
    padding: 0px 02px 0px 0px;
    color: red;
    font-size: 10px;
}

.next {
    background: url('../imgs/next.png') 100% 0 no-repeat;
    height: 24;
    width: 20;
    text-decoration: none;
}

.prev {
    background: url('../imgs/prev.png') 100% 0 no-repeat;
    height: 24;
    width: 20;
    text-decoration: none;
}

.last {
    background: url('../imgs/last.png') 100% 0 no-repeat;
    height: 24;
    width: 20;
    text-decoration: none;
}

.first {
    background: url('../imgs/first.png') 100% 0 no-repeat;
    height: 24;
    width: 20;
    text-decoration: none;
}
.menu a	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	color: #000000;	
	text-decoration: none;
	z-index:2;
}

</style>
