{% extends '::base.html.twig' %}

{% block breadcrumb %}
    <li class="active">{{ 'Computadores das Subredes'|trans }}</li>
{% endblock %}

{% block body %}

    <div class="row-fluid">

    <div class="span8">
        <div class="box grad_colour_black">

            <h2 class="box_head round_top"><i class="icon-search"></i> {{'Pesquisa por pelos Computadores das Subredes' |trans }}</h2>

            <div class="block box_content round_bottom padding_10">

                <h4>{{ "Filtros para consulta"|trans }}</h4><br />


            </div> <!-- /block -->
        </div> <!-- /box -->
    </div> <!-- /span8 -->

{% endblock %}