{% extends 'CacicCommonBundle::base.html.twig' %}

{% block body %}

<div class="row-fluid">

    <iframe src="{{ path('cacic_common_homepage') }}elfinder" height="600px" width="100%"></iframe>

</div> <!-- /row -->

{% endblock %}