/**/

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('../img/always_grey.png');
}

#tudo {
	padding: 10px
}

#license {
	font-family: Ubuntu mono, monospace;
	width: 600px;
	margin: 0px auto;
	text-align: justify;
	text-indent: 1.85em;
}

.well-lg {
	width: 800px !important;
	margin: 0 auto !important;
}

.form {
	width: 300px !important;
	margin: 0 auto !important;
}

input[type="submit"] {
	width: 250px !important;
}

input[type="text"], input[type="password"], select  {
	width: 250px !important;
}

.tamanho {
	width: 350px !important;
	margin-left: 0 !important; 
}

.ident {
	text-align: justify;
}