body {
	background-image: url("../img/always_grey.png");
}

#logo {
	margin: 0px 0px 15px 30px;	
}

#cacic{
	margin: 60px 0px 0px -115px;	
}

.centro {
	width: 1060px;
	margin: 10px auto;
}

#barraNav {
	margin: 5px 0;
}

#content {
	width: 680px;
	text-align: justify;
}

.recuo {
	margin-left: 35px;	
}

.recuo li {
	padding: 5px 0;
}

#barraNavLat {
	width: 250px;
	margin: 0 auto;
}

.margin {
	margin: 20px 0 0 0;
}

.color a {
	color: #777777 !important;
}

.color a:hover {
	color: #333333 !important;
}

textarea {
    resize: none;
}

footer {
	text-align: center;
	margin: 50px 0 0 0;
}

.logocenter {
	margin: 0 auto;
	width: 200px;
}

.titlecenter {
	margin: 0 auto;
	width: 400px;
}

.confirma {
	margin: 0 auto;
	width: 500px;
}

.button {
	margin: 0 auto;
	width: 150px;
}

#license {
    font-family: Ubuntu mono, monospace;
    width: 600px;
    margin: 0px auto;
    text-align: justify;
    text-indent: 1.85em;
}

.well-lg {
    width: 800px !important;
    margin: 0 auto !important;
}

.form {
    width: 300px !important;
    margin: 0 auto !important;
}

.instrucoes {
    margin: 0 auto !important;  
}

input[type="submit"] {
    width: 250px !important;
}

input[type="text"], input[type="password"], select  {
    width: 250px !important;
}

.tamanho {
    width: 350px !important;
    margin-left: 0 !important; 
}

.ident {
    text-align: justify;
}