<cacicInstall:comment>
/**
 * @version $Id: index.php 2007-02-08 22:20 harpiain $
 * @package Cacic-Installer
 * @subpackage Instalador
 * @author Adriano dos Santos Vieira <harpiain at gmail.com>
 * @copyright Copyright (C) 2007 Adriano dos Santos Vieira. All rights reserved.
 * @license GNU/GPL, see LICENSE.php
 * CACIC-Install is free software and parts of it may contain or be derived from the
 * GNU General Public License or other free or open source software licenses.
 * See COPYRIGHT.php for copyright notices and details.
 * @description Templates para para o Instalador do CACIC
 */
</cacicInstall:comment>

<cacicInstall:comment>
Mensagens do Instalador
</cacicInstall:comment>
<cacicInstall:tmpl name="tmplStatusBar">
 <div class="statusbar">
  <fieldset>
    <legend>{KCIQ_MSG}: </legend>
	  <table>
	    <tbody>
	      <tr>
	        <td>
	           {MSG_STATUS}
	           <div id="msgStatus"></div>
	           &nbsp;
	        </td>
	      </tr>
	    </tbody>
	  </table>
  </fieldset>
 </div>
</cacicInstall:tmpl>

<cacicInstall:comment>
RODAPE do Instalador
</cacicInstall:comment>
<cacicInstall:tmpl name="tmplPageFooter">
       <div class="Apoio">
      <fieldset>
        <legend>{KCIQ_APOIO}:</legend>
               <table>
                 <tr>
                    <td class="logoMTE">&nbsp;</td>
                 </tr>
               </table>
      </fieldset>
       </div>
  </body>
</html>
</cacicInstall:tmpl>
