<cacicInstall:comment>
/**
 * @version $Id: index.php 2007-02-08 22:20 harpiain $
 * @package Cacic-Installer
 * @subpackage Instalador
 * @author Adriano dos Santos Vieira <harpiain at gmail.com>
 * @copyright Copyright (C) 2007 Adriano dos Santos Vieira. All rights reserved.
 * @license GNU/GPL, see LICENSE.php
 * CACIC-Install is free software and parts of it may contain or be derived from the
 * GNU General Public License or other free or open source software licenses.
 * See COPYRIGHT.php for copyright notices and details.
 * @description Templates para para o Instalador do CACIC
 */
</cacicInstall:comment>
Classe <i>'patTemplate'</i> não instalada ou não encontrada no PATH de inclusão. <br>
 <br>
Para instalar execute os seguintes comandos (como 'root'): <br>
 <ul>
   <li>pear channel-discover pear.php-tools.net <br>
   <li>pear install pat/patTemplate <br>
 </ul>
